<!DOCTYPE html>
<html>
<head>
  <title>Devoke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.png' %>
</head>
<body>
<%= image_tag "intro.jpg", :id => "intro"%>
<% if current_user %>
	<div class="button_area">
		<div class="btn" id="finish">
			<%= link_to 'Finished!(not availble yet)', '#' %>
		</div>
		<div id = "welcome">
			<% if current_user.user_information.avatar %>
				<%= link_to(image_tag(current_user.user_information.avatar.url(:medium), :class=>"head"), profile_path(current_user)) %>
			<% else %>
			    <%= link_to(image_tag("fhead", :class=>"head"), profile_path(current_user)) %>
			<% end %>
			<p class="greeting"><%= current_user.user_information.name%>， welcome back!</p>
		</div>
	</div>
<% else %>
    <div class="button_area">
    	<div class="home-content">
	    	<div class="site-description">
		    	<h3>How devoke can help you to form a good Bible reading hobby?</h3>
		    	<p>By checking in to devoke everyday, you will contribute to the overall church growth curve.</p>
		    	<p>Your daily checkins will earn you credits. Once you got enough credits, you can spend them in the gift store.</p>
		    	<p>Share with other brothers and sisters your thoughts, help eachother grow in love.</p>
		    </div>
		    <div class="btns">
		    	<%= link_to('Sign up', new_user_registration_path, class: 'btn', id: 'signup')%>
		    	<%= link_to('Sign in', new_user_session_path, class: 'btn', id: 'signup')%>
	    	</div>
	    </div>
	</div>
<% end %>
</body>