<!DOCTYPE html>
<html>
<head>
  <title>Devoke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.png' %>
</head>
<body>
<%= image_tag "intro.jpg", :id => "intro"%>
<% if current_user %>
	<div class="button_area">
		<div class="home-content">
			<div class="welcome">
				<% if current_user.user_information.avatar %>
					<%= link_to(image_tag(current_user.user_information.avatar.url(:medium), class: :head, id: 'welcome-head'), profile_path(current_user)) %>
				<% else %>
				    <%= link_to(image_tag("default-head.svg", profile_path(current_user), class: :head, id: 'welcome-head')) %>
				<% end %>
				<p class="greeting"><%= current_user.user_information.name%></p>
				<p>Welcome back!</p>
			</div>
			<% if not has_user_checked_in_today? current_user %>
				<%= link_to 'Check in for today', checkins_create_path, method: :post, class: :btn, id: :finish %>
			<% else %>
			    <p id="congrat">Congratulations! You have checked in today!</p>
			<% end %>
		</div>
	</div>
<% else %>
    <div class="button_area">
    	<div class="home-content">
	    	<div class="site-description">
		    	<h3>How devoke can help you to form a good Bible reading hobby?</h3>
		    	<li>By checking in to devoke everyday, you will contribute to the overall church growth curve.</li>
		    	<li>Your daily checkins will earn you credits. Once you got enough credits, you can spend them in the gift store.</li>
		    	<li>Share your thoughts with other brothers and sisters, help each-other grow in love.</li>
		    </div>
		    <div class="btns">
		    	<%= link_to('Join', new_user_registration_path, class: 'btn', id: 'signup')%>
		    	<%= link_to('Sign in', new_user_session_path, class: 'btn', id: 'signup')%>
	    	</div>
	    </div>
	</div>
<% end %>
</body>