<%= image_tag "sign.jpg", :id => "intro"%>
<div class="session_area", id="user-infor-area">
  <%= form_for :user_information, url: profile_create_path do |f| %>
  	<p>
      	<%= f.text_field :name, placeholder: "Name or What you wanna be called", class: 'session_input'%>
    	</p>
    	<p>
      	<%= f.number_field :age, placeholder: "Age, if you wish to tell us :)", class: 'session_input'%>
    	</p>
      <p>
        <%= f.text_field :gender, placeholder: "Gender (optional)", class: 'session_input'%>
      </p>
    	<p>
      	<%= f.submit "Save", class: 'session_btn', id: 'save-user-infor'%>
    	</p>
  <% end %>
</div>