
<div id="popup">
	<%= image_tag("close.png", :class => 'closeImg') %>
	<div class="post-contents"></div>
</div>
<div class="intro-shelf">
	<div class="user-profile">
		<div id="user-information">
			<% if @user_infor.avatar? %>
				<%= image_tag @user_infor.avatar.url(:medium), :class=>"head" %>
			<% else %>
			    <%= image_tag "default-head.svg", :class=>"head" %>
			<% end %>
			<p><%= @user_infor.name %></p>
			<p>Cridets:<%= @user_infor.credit %></p>
		</div>
		<div id="chart">
		    <%= line_chart chart_data, chart_options%>
		</div>
		<% if not has_user_checked_in_today? current_user %>
			<div id="done-btn">
				<%= link_to "Warning: You have NOT checked in today, click here to checkin!", checkins_create_path, method: :post%>
			</div>
		<% end %>
	</div>
	<!--%= image_tag "dialog.png", :class=>"dialog"%-->
    </div>
</div>
	<div id="plusOne">+1</div>
</div>
<div class="page_content">
	<div class="bigBut" id="feedBut">
		<%= image_tag("feed.png", :class => 'butImg') %>
	</div>
	<div class="bigBut" id="postBut">
		<%= image_tag("post.png", :class => 'butImg') %>
	</div>
	<div class="bigBut" id="calBut">
		<%= image_tag("cal.png", :class => 'butImg') %>
	</div>
	<div class="bigBut" id="mallBut">
		<%= link_to(image_tag("mall.png", :class => 'butImg'), reward_index_path) %>
	</div>
	<div class="content">default content</div>
</div>
<% if not @user_infor.nil? %>
	<p>Name: <%= @user_infor.name %></p>
	<p>age: <%= @user_infor.age %></p>
	<p>gender: <%= @user_infor.gender %></p>
	<p>credit: <%= @user_infor.credit %></p>
	<%= link_to 'Update your information', profile_edit_path%>
<% else %>
	<%= link_to 'Enter your information', profile_new_path%>
<% end %>
<%= link_to 'redeem history', redemption_history_path %>
<%= link_to 'message', new_post_path %>
<%= link_to 'sign in', new_user_session_path %>
<%= link_to 'sign out', destroy_user_session_path, :method=>:delete%>
<%= flash[:notice] %>