<div id="popup">
	<%= image_tag("close.png", :class => 'closeImg') %>
	<div class="post-contents"></div>
</div>
<div class="intro-shelf">
	<div class="user-profile">
		<div id="user-information">
			<% if @user_infor.avatar? %>
				<%= image_tag @user_infor.avatar.url(:medium), :class=>"head" %>
			<% else %>
			    <%= image_tag "default-head.svg", :class=>"head" %>
			<% end %>
			<p><%= @user_infor.name %></p>
			<p>Cridets:<%= @user_infor.credit %></p>
		</div>
		<div id="chart">
		    <%= line_chart chart_data, chart_options%>
		</div>
		<% if not has_user_checked_in_today? current_user %>
			<div id="done-btn">
				<%= link_to "Warning: You have NOT checked in today, click here to checkin!", checkins_create_path, method: :post%>
			</div>
		<% end %>
	</div>
	<!--%= image_tag "dialog.png", :class=>"dialog"%-->
</div>
<div class="page_content">
	<div class="big-btn" id="feedBut">
		<%= image_tag("feed.svg", :class => 'butImg') %>
	</div>
	<div class="big-btn" id="postBut">
		<%= image_tag("share.svg", :class => 'butImg') %>
	</div>
	<div class="big-btn" id="calBut">
		<%= image_tag("calendar.svg", :class => 'butImg') %>
	</div>
	<div class="big-btn" id="mall-btn">
		<%= link_to(image_tag("gift.svg", :class => 'butImg'), reward_index_path) %>
	</div>
	<div class="content">
		<% recent_changelogs(50).each do |log| %>
			<!--TODO: bad code style, needs refactor-->
			<% user = log.user.user_information %>
			<% if log.obj_type == 'Post'%>
				<div class="box post-item">
					<div class="post-left-side">
						<%= image_tag user.avatar.url(:medium), :class=>"post-head" %>
						<div class="post-username">
							<%= link_to user.name, profile_path(user.id), :class=>"post-username" %>
						</div>
						<% post = Post.find_by_id(log.obj_id) %>
						<%= image_tag "mood"+post.mood.to_s+".png", :class=>"post-face" %>
					</div>
					<div class="post-content">
						<p><%= post.updated_at %></p>
						<p class="message"><%= post.message %></p>
					</div>
				</div>
			<% elsif log.obj_type == 'Checkin' %>
				<div class="checkin-item">
					<%= image_tag("checkedin.svg", :class => 'checked-in-icon') %>
					<div class="checkin-content">
						<% c = Checkin.find_by_id(log.obj_id) %>
						<%= link_to user.name, profile_path(user.id), :class=>"log-username" %>
						has checked in at <%= c.time.localtime.hour%>:<%=c.time.localtime.min.to_s%> <%= c.date %> 
					</div>
				</div>
			<%end%>
		<% end %>
	</div>
</div>
<%= flash[:notice] %>