<% if not @user_infor.nil? %>
	<p>Name: <%= @user_infor.name %></p>
	<p>age: <%= @user_infor.age %></p>
	<p>gender: <%= @user_infor.gender %></p>
	<p>credit: <%= @user_infor.credit %></p>
	<%= link_to 'Update your information', profile_edit_path%>
<% else %>
	<%= link_to 'Enter your information', profile_new_path%>
<% end %>
<%= link_to 'my check ins', checkins_index_path(Time.now.year, Time.now.month) %>
<%= link_to 'check in', checkins_create_path, :method=>:post%>
<%= link_to 'rewards', reward_index_path %>
<%= link_to 'redeem history', redemption_history_path %>
<%= flash[:notice] %>