<div class="shop_header">
	<!--div class="featured_item"></div-->
	<div class="user-shopping-infor">
		<p>Your available cridets: <%= current_user.user_information.credit %></p>
		<%= link_to 'Redeem history', redemption_history_path(current_user), id: "redeem-history" %>
		<%= link_to 'Back', profile_path(current_user), class: "session_btn", id: "shop-back-btn" %>
	</div>
		<%=image_tag "feature_item.jpg" %>
</div>
<div class="page_content">
	<% @rewards.each do |reward| %>
		<div class = "item">
			<div class= "header">
				<p class="name"><%= reward.name %></p>
				<p class="price"><span class="cost"><%= reward.cost %></span></p>
			</div>
			<%= link_to(image_tag('reward_'+reward.id.to_s+'.jpg'), reward_show_path(reward.id)) %>
		</div>
	<% end %>
</div>