<h1>Reward#show</h1>
<% if @reward %>
	<%= image_tag 'reward_'+@reward.id.to_s+'.jpg'%></br>
	<%= @reward.name %></br>
	<%= @reward.description %></br>
	<%= @reward.amount %></br>
	<%= @reward.cost %></br>
	<%= link_to 'redeem', create_redemption_path(@reward.id), :method=>:post %>
<% else %>
	獎品不存在
<% end %>
