<div class="calendar">
	<div class="title">
		<span class="arrow"><div id="arrow-left"><</div></span>
    	<div class="month"><%= Date::MONTHNAMES[@month] %>, <%= @year %></div>
    	<span class="arrow" id="arrow-right"><div>></div></span>
  	</div>
  	<table>
  		<tr>
		    <td>SUN</td>
		    <td>MON</td>
		    <td>TUE</td>
		    <td>WED</td>
		    <td>THUR</td>
		    <td>FRI</td>
		    <td>SAT</td>
		</tr>
		<tr>
			<% @begin_wday.times do %>
				<td></td>
			<% end %>

			<% @total_days.times do |i| %>
				<% if (i+@begin_wday) %7 == 0%>
					</tr><tr>
				<% end %>
				<% if @checkin_days.include?(i+1) %>
					<td><span class="finished_date"><div><%= i+1 %></div></span></td>
				<% else %>
					<td> <%= i+1 %></td>
				<% end %>
			<% end %>
		</tr>
  	</table>
</div>
<%= link_to 'back', profile_path(current_user) %>
