<% @logs.each do |log| %>
	<!--TODO: bad code style, needs refactor-->
	<% user = log.user.user_information %>
	<% if log.obj_type == 'Post'%>
		<div class="box post-item">
			<%= image_tag user.avatar.url(:medium), :class=>"post-head" %>
			<%= link_to user.name, profile_path(user.id), :class=>"post-username" %>
			<% post = Post.find_by_id(log.obj_id) %>
			<%= image_tag "mood"+post.mood.to_s+".png", :class=>"post-face" %>
			<div class="post-content">
				<p><%= post.message %></p>
			</div>
		</div>
	<% elsif log.obj_type == 'Checkin' %>
		<div class="checkin-item">
			<%= image_tag("checkedin.svg", :class => 'checked-in-icon') %>
			<div class="checkin-content">
				<% c = Checkin.find_by_id(log.obj_id) %>
				<%= link_to user.name, profile_path(user.id), :class=>"log-username" %>
				has checked in at <%= c.date %> <%= c.time.in_time_zone('Pacific Time (US & Canada)') %>
			</div>
		</div>
	<%end%>
<% end %>
