<!DOCTYPE html>
<html>
<head>
  <title>Devoke</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'icon.png' %>
</head>
<body>
	<div id="overlay"></div>
	<!--%= link_to 'sign in', new_user_session_path %-->
	<!--%= link_to 'sign out', destroy_user_session_path, :method=>:delete%-->
	<div class="header">
		<div id="header_content">
			<% if current_user %>
				<%= link_to image_tag('icon.png', :class => 'icon'), profile_path(current_user) %>
			<% else %>
			    <%= image_tag('icon.png', :class => 'icon') %>
			<% end %>
			<p class="header_verse">Then the Lord said to Moses, “I will rain down bread from heaven for you. The people are to go out each day and gather enough for that day. In this way I will test them and see whether they will follow my instructions. (Exodus 16:4)</p>
		</div>
		<% if current_user %>
		<%= link_to image_tag('logout.svg', id: 'signout_btn', class: 'header_icons'), destroy_user_session_path, :method=>:delete %>
		<%= link_to image_tag('setting.svg', id: 'setting_btn', class: 'header_icons'), profile_edit_path %>
		<% end %>
	</div>
<%= yield %>
	<div class="page_content">
		<div class="footer">
			<div class="footer-icons">
				<%= image_tag('icon.png', id: 'setting_btn', class: 'footer-icon') %>
				is powered by
				<%= link_to image_tag('rails-icon.png', id: 'rails-icon', class: 'footer-icon'), 'http://rubyonrails.org/' %>
				<%= link_to image_tag('chartjs-icon.jpg', id: 'chartjs-icon', class: 'footer-icon'), 'http://www.chartjs.org/' %>
				<%= link_to image_tag('paperclip-icon.png', id: 'paperclip-icon', class: 'footer-icon'), 'https://github.com/thoughtbot/paperclip' %>
				<%= link_to image_tag('AmazonS3-icon.png', id: 's3-icon', class: 'footer-icon'), 'https://aws.amazon.com/s3/' %>
				<%= link_to image_tag('heroku-icon.png', id: 'heroku-icon', class: 'footer-icon'), 'https://www.heroku.com/' %>
				<%= link_to image_tag('mysql-icon.png', id: 'mysql-icon', class: 'footer-icon'), 'https://www.mysql.com/' %>
				<%= link_to image_tag('pg-icon.png', id: 'pg-icon', class: 'footer-icon'), 'https://www.postgresql.org/' %>
			</div>
		</div>
	</div>
</body>
</html>
